.button {
    background-color: transparent;
    border: none;
    display: inline;
    color: white;
}

.button:hover {
    background-color: transparent;
    border: none;
    color: rgb(252, 201, 244);
    display: inline;
}

.seperate {
    color: white;
    display: inline;
}

.input {
    background: white;
    border: none;
    padding: 2px 8px;
}

.outerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.firstContainer {
    display: flex;
    justify-content: flex-end;
}
