.inputContainer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    display: inline;
}

.button:hover {
    background-color: transparent;
    border: none;
    color: rgb(252, 201, 244);
    display: inline;
}

.seperate {
    color: white;
    display: inline;
}

.outerContainer{
    
}

.input {
    background: white;
    border: none;
}